<div class='hero'>

    <div class='content'>
        <div class='headline'>$3400 dollars to raise. 26.2 miles to run.</div>
        <div class='stats'>
            <div class='stats__group'>
                <div class='stats__value'>$50</div>
                <div class='stats__label'>raised</div>
            </div>
            <div class='stats__group'>
                <div class='stats__value'>$3350</div>
                <div class='stats__label'>to go</div>
            </div>
            <div class='stats__group'>
                <div class='stats__value'>100</div>
                <div class='stats__label'>days left</div>
            </div>
            
        </div>
        <!-- <div class='blurb'>Help me reach my goal of <strong>$3400</strong> before I take on the 26.2!</div> -->
        <div class='button-group'>
            <div class='cta button--filled'>Learn More</div>
            <div class='donate button--hollow'>Donate Now</div>
        </div>
        


    </div>
    

</div>